<nav class="navbar navbar-expand-md">

  <a href="/" class="navbar-brand">
    <img src="/assets/em_logo.svg" class="em_logo" alt="Easy Merge.io">
  </a>

  <button class="navbar-toggler em_btn" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <i class="fa fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item <%= 'active' if current_page?(root_path) %>">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(how_it_works_path) %>">
        <%= link_to 'How it works', how_it_works_path, class: 'nav-link' %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(pricing_path) %>">
        <%= link_to 'Pricing', pricing_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <button class="btn btn-success em_free">Try it FREE</button>
      </li>
    </ul>
  </div>
</nav>