<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('/assets/my_favicon.ico') %>
  </head>

  <body>

  <%= render partial: 'em_website/nav_bar' %>

  <div class="content">
    <%= yield %>
  </div>

  <footer>
    <div class="em_footer_menu">
    <div class="em_footer_li"> Help</div>
    <div class="em_footer_li"> Terms</div>
    <div class="em_footer_li"> Privacy</div>
    <div class="em_footer_li text-nowrap"><a href="/about_us" style="color: black">About Us</a></div>
    </div>
  </footer>
  </body>
</html>
