<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EM</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <%= favicon_link_tag asset_path('my_favicon.ico') %>
  </head>

  <body>
  <nav class="navbar navbar-expand-md">
    <a href="/" class="navbar-brand">
      <img src="/assets/em_logo.svg" class="em_logo" alt="Easy Merge.io">
    </a>

    <button class="navbar-toggler em_btn" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <i class="fa fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/how_it_works">How it works</a></li>
        <li class="nav-item"><a class="nav-link" href="/pricing">Pricing</a></li>
        <li class="nav-item"><form class="nav-link" action="/"><button class="btn btn-success" type="submit">Try it FREE</button></form></li>
      </ul>
    </div>
  </nav>
  <%= render partial: 'shared/flashes' %>
  <div class="content">
    <%= yield %>
  </div>
  <footer>
    <div class="em_footer_menu">
    <div class="em_footer_li"> Help</div>
    <div class="em_footer_li"> Terms</div>
    <div class="em_footer_li"> Privacy</div>
    <div class="em_footer_li text-nowrap"><a href="/about_us" style="color: black">About Us</a></div>
    </div>
  </footer>
  </body>
</html>
